{% if settings.popup_enable %}
{% assign randomly_collection = collections[settings.popup_randomly_collection] %}
<div class="social-proof-popup {% if settings.popup_disable_mobile %}hide-social-proof{% endif %}">
	<ul class="list-view-items">
      {% for product in randomly_collection.products %}
      <li class="custom-social-proof">
        <span class="social-proof-close">x</span>
        <input type="checkbox" id="dont-show-again" name="dont-show-again" checked style="display:none;"/>
        <a class="shop-now" href="{{ product.url }}">
        <div class="social-product-image">
          <a class="shop-now" href="{{ product.url }}">
            <img src="{{ product | img_url: '120x85' }}"
            data-src="{{ product | img_url: '120x85' }}"
     		data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
     		data-aspectratio="{{ product | img_url: '120x85' }}"
     		data-sizes="auto"
     		data-parent-fit="contain" class="lazyload">
          </a>
        </div>
        <div class="social-product-details">
          <span><span class="customer-name">Someone</span> {{ settings.bottom_message }}</span><br />
          <a class="shop-now" href="{{ product.url }}">{{ product.title | escape  }}</a><br />
          <span class="minutes-passed"></span><span class="country-name"></span>
        </div>
      </li>  
      {% endfor %}
    </ul>
</div>
{% endif %}
<style>
	.custom-social-proof{
  		display:none;
	}
  	.custom-social-proof.show{
  		display:block;
	}
  	.social-proof-popup .minutes-passed {
      max-height: 45px;
      display: block; 
    }
</style>
<script>
  var names = ['Chris H.','Sally P.','Melinda P.','Jan O.','Bill D.','Lily C.','Sonia R.','James M.','Megan L.','Manya H.','Tina F.','Nick M.','Shanetra B.','Jessie L.','Cayla D. ','Jacqueline K.','Jonathan H.','James S.','Daniel M.','Sharon S.','Savannah C.','Julie L.','Sophia G.','Cynthia L.','Jessica C.','Wayne B.','Priscilla B.','Joanne V.','Sharyn M.','Sara S.','Stephen F.','Susan P.','Georgia B.','Shawn W.','Courtney E.','Sandy G.','Tyler R.','Candace B. ','Jessie L.','Jong H.','Erica S.','Leroy G.','Annemieke P.','Debra K.','Nancy T.','Carol C.','Zachary T.','William M. ','Christian K.','Jaguar P.','Kaitlyn S.','Robin D. ','Jezika S.','Cassidy P.','Kim R.','Teryan V.','Jolene J.','Williams N.','Elley S.','Laurie S.','Hannah W.','Matthew G.','Sherrie C.','Angelina H.','Kathleen O.','Alejandra A.','G. M.','Paul B.','James D.','Heather B.','Leonard M.','Madeline S.','Christina K. ','Ivo N.','Alison R.','Jessica M N.','Beth M.','William K.','Doug C.','Janelle L.','Tiffany W.','Abby C.','Linda M.','Vicky L.','Julie R.','Melissa K.','Brandi Y.','Charmion E.','Gavin B. ','Vanessa R.','Shannon G.','Connie S.','Kim B.','James K.','Tracy D.','Jesse P.','Gwendolyn J.','Jennifer B.','Zoe H.','Dana R.','Megan D.','James L.','Debbie B.','anitra p.','Kevin G.','Ron G.','Kaylee M.','Christian S.','Jessica G.','Keri D.','John L.','Juliet H.','Regina H.','Susan S.','christine c.','Regina W.','Priscila R. ','Erika D.','Alexandra S.','Alisha W.','Max S.','Christine D.','Denise L.','Carrie S.','Debra M.','Jennifer D. ','Danielle H.','Tia B.','tammi b.','Manuele F.','Jessica B. ','April E.','Chris N.','Pure Luxury E.','Sabrina F.','Visha A.','Sydney V.','Chris G.','Kelly S.','Chris S.','Doug B.','Susan C.','Brandon M. ','Donna Y.','Sophia S.','julie p.','Cynthia S.','Thomas C.','Aleena B.','Jeron L.','Theresa L.','Bradley L.','melanie l.','Suzanne B.','Roza B.','Jason H.','samantha d.','Diana P.','Vanessa L.','Lennise G.','Nathan C.','Amie F.','Matthew G.','Judith C.','Bruce T.','lucas h.','Shelly H.','Elizabeth M.','donna m.','Angel S.','Amanda N.','Jennifer S.','Deborah A S.','Bonnie M.','Rachel V. ','Paula H.','Doc H.','Cassandra R.','Taylor P.','Carolyn A. ','Vicki B.','Christina V.','Linda H.','Tod D.','tara c.','Monica H.','Brandi D.','David S.','Ashley N. ','Steven A.','Leslee J.','Melissa O.','Kimberly H.','Anne H.','Judith H.','Amber C.','Leigh D.','Reina B.','Bryan P.','Jodi M.','Angela G. ','Eva H.','Maricela P. ','Izzi S.','Amy H.','Shanna R.','Ambrose A.','Scott T.','Jay D.','Michael P.','Patricia M.','Lauri S.','Aundrea H.','Anne-Marie W.','chris h.','Braeden C.','Kelley G.','Brianne N. ','Madelyn F.','Tamara U.','Brittany J. ','Ellie G.','Courtney T.','Amanda M.','Amanda I.','Stephanie S.','Michelle O.','Erin S.','Danielle S.','Rebecca S.','ramon c.','Hillary S.','Dena A.','Brittany M.','Lori F.','Tina H.','Ryan K.','John S.','Lisa L.','Alex S.','Brooke G.','Charles K.','Elizabeth B.','lutissha p.','Marissa F.','Louis M.','Cynthia S. ','Toni W.','Kelsey H.','Pam N. ','Jennifer K.','Dustin H.','Janine L.','Melissa D.','Valerie E. ','Kimmaly M.','David H.','Jessica J.','Stevie R.','Jon G.','Makenna R.','Brenda S. ','Chevelle S.','Bridget D.','Hellen L.','Al H.','Tina C.','Brian H.','Brandi V.','Alyssia S.','Shelby G.','Landon V.','Krista H. ','Becky B.','Lisa P.','Carol W. ','Lesley S.','Katherine G.','Kim l.','Gina H.','Victor E. ','Hagop N.','Beth E.','mikayla k.','Stephanie L.','Korina M.','Perlean V.','alan r.','VICKI B.','Stephanie B.','Stephanie J.','Marianne H.','Tiffany W.','Tyler D.','Nicole H.','Kriss A.','Ian B.','Matthew C.','Samantha D.','dannielle h.','Sara J.','Chelsea C.','Michelle M.','TRACY D.','Charlène D.','Michael O.','Moasset R.','Alexis G.','Jon W.','Megan D.','Amy S.','Kelly N.','Charles C.','Alyce T.','Alycia D.','Renee A. ','Sam C.','Przemyslaw H.','Travis W.','Laura B.','Jaime S.','Wynter R.','Sara Olivia G.','christos e.','Yesenia R.','Kevin D.','Sherrie C.','Kevin S.','Annette H.','Kieley R.','Maria K.','Magnolia C.','Sabrina W.','Dallas S.','Darcy J. ','Kenneth R.','Cupertino S.','Ray S.','Ricky D.','Grayce R.','Kristi I.','Cole D.','Donna T.','William H.','Jessica W.','Jodi N.','Cynthia M.','barbara f.','Becky U.','Mike P.','Ellen H.','Victor C. ','susan w s.','Chelsea P.','Karen S.','Blazze M.','Jaider C.','Rob H.','John G.','Anton R.','Shannon S.','Jules W.','Ronald K.','Britt J.','Michael S.','Christie M.','karen d.','Elizabeth G.','Brad A.','Jamie K.','Lara W.','Fausto G.','Justin H.','RJ D.','Maggie C.','Mariah A. ','mackenzie, m.','Erica G.','Ashlie S.','Kelly S.','Andrew S.','Steffen S.','Elizabeth J B.','Kerry C.','Kim C.','jane k.','Trent L.','Elena T.','Heather M.','Ruth K.','Catherine G.','Andre Julian H.','Amanda N.','Dianne T.','Marie-Eve R.','MISTY O.','Glen F.','Sharon F.','Fay W.','Emily P.','Eugene R.','Kelcie C.','Paula S. ','Kelly M.','Mariann C.','Kathleen W.','Cindy B.','Amanda F.','Wynne L.','Stephanie L.','Rebecca M.','Sam B.','Tabitha H.','Adriana A.','Veronica S.','Mary R.','Thomasita I. ','Jamie K.','Elisa M.','Melinda G.','Lauren J.','Penny D.','Mayra W.','Margaret C.','Brenda L.','Ashley S.','Irma Jean M.','Laurie A.','Danielle K.','Judy R.','Anneke L.','Bonnie K. ','Anita M.','David T.','Kaitlyn S.','Chase A.','David S.','Tammy C.','Raymond M.','Zanetta C.','Susan P.','Marilyn H.','Sue B.','Denis M.','Christin B.','Becky B.','Jessica L.','Cynthia L.','Debora D.','Jodi H.','Denise L.','Kevin T.','Miranda W. ','Allison R.','Cynthia R.','Brooke R.','Sydney J.','Kaylee K.','Tammy O.','Alexis D.','Edwin R.','Suzanne O.','Sarah Y.','Kimberly A.','Danalee Anita F.','Chelsea S.','Diana H.','Susan T.','John S.','Fawn P. ','Andrea B.','Ashley P.','John C.','Katina R.','Kassie B.','Jane R.','Brittany C.','Shelby M.','Lynn E.','Michelle K.','Kathryn K.','Heather S.','Carl M.','Kimberly G.','Kim M.','Brooke P.','Mary S.','Miles L.','Joseph A.','Cindy L.','Mary H.','Samantha S.','Judy R.','Katie M.','Mary B.','Kris B.','Joanne S.','Cindy S.','Barbara C.','Karen H.','Beverley M.','Ally J.','Abby P.','Beth W.','Judy G.','Erin H.','tracy J.','Juli P.','Katherine T.','Damian T S.','Nix O.','keri m.','Jessica G.','Ashley W.','Jacqueline M.','Bethany E.','Kelley R.','Tracy C.','Brittney U.','Leah C.','Taylor D.','Denise J.','Isabela H.','Heidi C.','James C.','Katie R.','pamela C.','Rebecca B.','Linda R. ','Steven T.','Rachel H.','dustin s.','Jennifer B.','Hadley F.','Mitchell H.','Kristine T.','Kathy M. ','Edwin V.','Allison O.','Deborah G.','Jenny M.','Lana P.','Kim H.','Tom M.','Kelsey S.','Haley O.','Julio C.','Megan J.','yalancia P.','Jacqueline B.','Dezarae T.','agvik b.','Maegan E.','Darla G.','Julia G.','Kaitlynn L.','Nicole M.','Kathleen C.','Sharon O.','susan b.','Nicky D.','Heather D.','Danielle K. ','Chris S.','Maria T.','Michelle C.','Ryan H.','Lacey W.','Colleen M.','Satoru K. ','Eva O.','Bruce S.','Beth W.','HIROMI M.','Jeremy S.','Josh H.','Dillen W.','Bonny R.','Nathaniel L.','Andres G.','Richard M.','Jacob H.','Penny C.','Lisa D.','Jessica V.','Penny C.','Elijah H.','Laura K.','amber m.','Bridget M.','Billy C.','Karen R.','John R.','Shea B.','Ray R.','Kayla F.','Frankie B.','denise j o.','Linda M.','Peyton I.','Harlan B.','Lorinda S.','maryann H.','Mary R.','Lynda A.','Katie S.','Kasey M. ','Lisa C.','Aimee W. ','faith f.','Tiffany D.','Davin T.','Dan K.','Raeanne R.','Bonnie M.','Margaret D.','Samantha R.','Cassie R.','April C.','Jillian C.','Danielle L.','Pamela S.','Mandy H.','Kathie B.','Francesca L.','Angela H.','Lucila A.','Vanessa W.','Max C.','Carolyn J.','Marta M.','Genessis L.','Scott B.','Alissa J.','Joseph R.','Christine F.','Kristen M.','April W.','David P.','Stephen T. ','Dakoda s.','Joyce L.','MJ C.','Jeffery R.','Haley A.','Kimberly F.','Katie P.','margie f.','ashtyn j.','Becky L.','Luna R.','Cody F.','TIFFANY D.','Rebecca J.','Jason W.','Kasi W.','Sandy T.','mark d.','David R.','Ananda W.','Danika N.','Nancy R.','Jessica E.','rain b.','candyce a.','jeanette R.','Lori R.','Kara M.','Angela M.','Ryan T.','Andrew C.','Judy H.','Jer-Bear j.','Marcia j F.','Ivonne Jimenez G.','Alexandra E.','Amber J.','Jamie O.','courtnie c.','609 Sheridan st M.','Alex` A.','Jahni H.','Lisa F.','Carol C.','Jared W.','Dee A.','Brad H.','annette n.','Anthony Q.','Tyler B.','Sarah E.','Trisha G.','Krista M.','Kirstie P.','Stephanie L.','amy s.','Gretchen L.','Andrew G. ','SUSAN C.','Rudy W. ','dawn d.','jolene r.','Juana F.','Laura S.','Rachel G.','Angela H.','Kristin E.','Wendy J C.','Alex H.','Nicole T.','Loui C.','Alyssa G.','Cecilia D.','Aaron T.','Sean B.','Noelle F.','Diane A.','Morgan M.','Ian C.','Dragon D.','Sharon O.','Sarah L.','EvaMarie D.','Taylor N.','Christina S.','Terra B.','Laura B.','Maria C.','Shireen F.','Rebecca K. ','Christine H. ','Diane U. ','Andrea S.','Kim B. ','Deanna V.','Laura C.','hannah j.','Debra W.','Veronica H.','Pat Q.','Tiffany B.','Kat R.','Enrique R.','Cassie P.','Benjamin L.','Linda P.','Jennifer M.','Kellyn B.','Misty W.','Kayleigh G.','Sharon S.','Deborah B.','Jebediah J.','Rebecca M.','Amanda C.','Darryl R.','Tami W.','Vladislava B.','Mikaela G.','kimberly L.','Jeremy B.','Melony M.','Mollie J.','Ariana W.','Laranda S. ','Ryan R.','Dalton S.','morgan d.','Barry W.','Beverly V.','Sandy S.','Lucinda M. ','Lynn H.','Jenny G.','Megan C.','Kayla E.','sarah f.','Andrew G.','Denise S.','Ashley V.','Micah L.','Amanda T.','Kristin M.','Tabitha K.','Janice R. ','Nina C.','Beth A.','Greg P.','CLarissa T.','heather b.','Michelle S.','cha F.','Kendra S.','Dawn K.','Briahna M.','Rachel R.','Darlene T.','Olivia G.','Samuel Y.','Vawn H.','Rebecca P.','Jenna C.','Linda R.','Donna M.','nicole F. ','Susan T.','Kiley H. ','Shane V. ','Angel O.','Katie B.','Nancy M. ','TABITHA K.','Wavyne W.','Violet M.','Lynsay B.','Randy n.','Merrilee B.','Courtney M.','Brenda B.','Greg S.','Julio M.','Katherine R.','Megan P.','Lauren H.','Robin G. ','Kelly L.','Lora D.','Casey C.','Brenda S.','Bronwyn S.'];
  {% if settings.social_proof_country == "usa" %}
  	var country_list = ["New York City","Los Angeles","Chicago","Houston","Phoenix","Philadelphia","San Antonio","San Diego","Dallas","San Jose","Austin","Jacksonville","Fort Worth","Columbus","Indianapolis","Charlotte","San Francisco","Seattle","Denver","Boston"];
  {% endif %}
  {%if settings.social_proof_country == "mexico" %}
  	var country_list = ["Mexico City","Tijuana","Ecatepec","León","Puebla","Ciudad Juárez","Guadalajara","Zapopan","Monterrey","Ciudad Nezahualcóyotl","Chihuahua","Mérida","Naucalpan","Cancún","Saltillo","Aguascalientes","Hermosillo","	Mexicali","San Luis Potosí","Culiacán"];
  {% endif %}
  {% if settings.social_proof_country == "canada" %}
  	var country_list = ["Toronto","Montreal","Calgary","Ottawa","Edmonton","Mississauga","Winnipeg","Vancouver","Brampton","Hamilton","Quebec City","Surrey","Laval","Halifax","London","Markham","Vaughan","Gatineau","Saskatoon","Longueuil"];
  {% endif %}
  {% if settings.social_proof_country == "uk" %}
  	var country_list = ["Aberdeen","Armagh","Bangor","Bath","Belfast","Birmingham","Bradford","Brighton & Hove","Bristol","Cambridge","Canterbury","Cardiff","Gloucester","Glasgow","Lancaster","Oxford","Perth","Peterborough","Winchester","Manchester"];
  {% endif %}
  {% if settings.social_proof_country == "australia" %}
  	var country_list = ["Melbourne","Sydney","Brisbane","Perth","Adelaide","Hobart","Townsville","Cairns","Toowoomba","Darwin","Ballarat","Bendigo","Albury–Wodonga","Launceston","Portland"];
  {% endif %}
  {%if settings.social_proof_country == "europe" %}
  	var country_list = ["Berlin","Madrid","Rome","Paris","Bucharest","Vienna","Hamburg","Warsaw","Budapest","Barcelona","Munich","Milan","Prague","Sofia","Cologne","Stockholm","Naples","Turin","Amsterdam","Marseille","Zagreb"];
  {% endif %}
  {% if settings.social_proof_country == "italy" %}
  	var country_list = ["Rome","Milan","Naples","Turin","Palermo","Genoa","Bologna","Florence","Bari","Catania","Verona","Venice","Messina","Padua","Trieste","Brescia","Parma","Taranto","Prato","Modena"];
  {% endif %}
  {% if settings.social_proof_country == "france" %}
  	var country_list = ["Paris","Marseille","Lyon","Toulouse","Nice","Nantes","Montpellier","Strasbourg","Bordeaux","Lille","Rennes","Reims","Saint-Étienne","Toulon","Le Havre","Grenoble","Dijon","Angers","Saint-Paul"];
  {% endif %}
  {% if settings.social_proof_country == "portugal" %}
  	var country_list = ["Abrantes","Agualva-Cacém","Águeda","Albergaria-a-Velha","Albufeira","Alcácer do Sal","Alcobaça","Alfena","Almada","Almeirim","Amadora","Amarante","Amora","Anadia","Angra do Heroísmo","Aveiro","Barcelos","Barreiro","Beja","Borba"];
  {% endif %}
  
  var len = $(".custom-social-proof").length;
  var random = 0;
  var random_name = 0;
  var random_minutes = 0;
  var random_country = 0;

  setInterval(function(){ 
    random_minutes = Math.floor(Math.random() * 57) + 2;
    random = Math.floor( Math.random() * len ) ;
    random_name = Math.floor(Math.random() * names.length);
    random_country = Math.floor(Math.random() * country_list.length);
    $(".custom-social-proof").removeClass('show');
    $(".custom-social-proof").eq(random).stop().addClass('show'); 
    {% if settings.popup_show_name %}
    	$(".custom-social-proof.show .customer-name").html(names[random_name]);
    {% endif %}
    $(".custom-social-proof.show .minutes-passed").html(random_minutes + " minutes ago from "+ country_list[random_country]);
    $(".custom-social-proof.show .country-name").html();
  }, {{settings.bottom_interval}}000);
  
  $(".social-proof-close").click(function() {
  	$(".custom-social-proof").removeClass('show');
  });
</script>
<script>
  //local storage
  //store local storage in a variable
  var showStatusStorage = sessionStorage;
  //test to see if local storage is already set on page load
  if (!showStatusStorage.getItem("showStatus")) {
    showStatusStorage.setItem("showStatus", "ShowSocialProof");
  }
  updateLocalStorageTextField();

  //show the alert IF the user hasn't expressly checked the 'dont show again' checkbox on a previous visit
  if (showStatusStorage.getItem("showStatus") === "ShowSocialProof") {
     $(".social-proof-popup").removeClass("hide");
  }
  if (showStatusStorage.getItem("showStatus") === "dontShowSocialProof") {
     $(".social-proof-popup").addClass("hide");
  }

  function closeAlert() {
    $(this).closest(".social-proof-popup").addClass("hide");
    if ($("#dont-show-again").is(":checked")) {
      showStatusStorage.setItem("showStatus", "dontShowSocialProof");
    }
    updateLocalStorageTextField();
  }
  $(".social-proof-close").on("click", closeAlert);

  function updateLocalStorageTextField() {
    $(".local-storage-value").text(showStatusStorage.getItem("showStatus"));
  }
  
  //clear after 12hours
     //setTimeout(function(){
         //showStatusStorage.clear();
    //}, 43200000);
</script>